
.humidity-wind{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
}
.humidity{
    display: flex;
    gap: 10px;

}
.wind{
    display: flex;
    gap: 10px;
}
